
<div class="row" id='weather-results'>
	<div class="large-4 columns">
		<h3><%= @currentSummary %></h3>
	</div>
	<div class="large-4 columns">
		<h3><%= @currentTemp %></h3>
	</div>	 
	<div class="large-4 columns">
		<h3><%= @daySummary %></h3>
	</div>	 	 
</div>

<form name="map" action="/map" method="post">
	<fieldset>
		<div class="row">
			<!-- we think we can refactor -->
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but1 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but2 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but3 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but4 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but5 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but6 %></button>
			</div>

	</fieldset>
</form>

<div class ='row'>
	<script type="text/javascript"> 

		$(document).ready(function() { initialize(); });

	    function initialize() {
	    };

		$('button').click(function (e){
			alert(<%= @but6 %>);
			//  ($(this).text());
		});
	</script>
</div>


