
<div class="row" id='weather-results'>
	<div class="large-4 columns">
		<h3><%= @currentSummary %></h3>
	</div>
	<div class="large-4 columns">
		<h3><%= @currentTemp %></h3>
	</div>	 
	<div class="large-4 columns">
		<h3><%= @daySummary %></h3>
	</div>	 	 
</div>

<form name="map" action="/map" method="post">
	<fieldset>
		<div class="row">
			<div class="large-6 large-centered columns">
				<button><%= @sug1 %></button>
			</div>
			<div class="large-6 large-centered columns">
				<button><%= @sug2 %></button>
			</div>

	</fieldset>
</form>

<div><%= @test %></div>


