<div class="row">
	<fieldset class='large-6 large-centered columns topper'>

		
        <div class="large-3 columns">
			<h4 class='results'>
				<figure class="icons">
					<canvas id="<%= "#{@condition}" %>" width="64" height="64">
					</canvas>
				</figure>
			</h4>
		</div>
		<div class="large-4 columns">
			<h4 class='results'>It is <%= @currentSummary.downcase %> in <%= @location_name %></h4>
		</div>
		<div class="large-5 columns">
			<h4 class='results'>Temperature<br><%= @currentTemp.to_i %>˚F</h4>
		</div>
		<!-- <div class="large-12 large-centered columns">
			<h4><%= @daySummary %></h4>
		</div>	 --> 	 
	</fieldset>	
</div>

<div class='row'>
	<fieldset class='large-6 large-centered columns botter'>
		<h2 class='activities'>Activities</h2>

		<% @activities.each do |activity| %>
			<form name="map" action="/map/<%= activity %>" method="post">
				<div class="row">
					<button class='but'><%= activity.gsub('_', ' ').split.map(&:capitalize).join(' ') %></button>
				</div>
			</form>	
		<% end %>
	</fieldset>
</div>


<script src="/skycons.js"></script>
<script>
$(document).ready(function() {
	var icons = new Skycons();

			
		icons.set("<%= @icon_to_do[:norm] %>", Skycons.<%= @icon_to_do[:up] %>);

	icons.play();
});
	
</script>
