
<div class="row">
	<fieldset class='large-6 large-centered columns'>
		<div class="large-6 columns">
			<h4 class='results'>It is <%= @currentSummary.downcase %> in <%= @location_name %></h4>
		</div>
		<div class="large-6 columns">
			<h4 class='results'>Temperature<br><%= @currentTemp.to_i %>˚F</h4>
		</div>
		<!-- <div class="large-12 large-centered columns">
			<h4><%= @daySummary %></h4>
		</div>	 --> 	 
	</fieldset>	
</div>

<div class='row'>
	<fieldset class='large-6 large-centered columns'>
		<h2 class='activities'>Activities</h2>

		<% @activities.each do |activity| %>
			<form name="map" action="/map/<%= activity %>" method="post">
				<div class="row">
					<button class='but'><%= activity.gsub('_', ' ').split.map(&:capitalize).join(' ') %></button>
				</div>
			</form>	
		<% end %>
	</fieldset>
</div>



