
<div class="row" id='weather-results'>
	<div class="large-4 columns">
		<h3><%= @currentSummary %></h3>
	</div>
	<div class="large-4 columns">
		<h3><%= @currentTemp %></h3>
	</div>	 
	<div class="large-4 columns">
		<h3><%= @daySummary %></h3>
	</div>	 	 
</div>
<fieldset>
<form name="map" action="/map/<%= @but0 %>" method="post">
	<div class="row">
		<button class='but'><%= @but0 %></button>
	</div>
</form>	
<form name="map" action="/map/<%= @but1 %>" method="post">
	<div class="row">
		<button class='but'><%= @but1 %></button>
	</div>
</form>	
<form name="map" action="/map/<%= @but2 %>" method="post">
	<div class="row">
		<button class='but'><%= @but2 %></button>
	</div>
</form>	
<form name="map" action="/map/<%= @but3 %>" method="post">
	<div class="row">
		<button class='but'><%= @but3 %></button>
	</div>
</form>	
<form name="map" action="/map/<%= @but4 %>" method="post">
	<div class="row">
		<button class='but'><%= @but4 %></button>
	</div>
</form>	
<form name="map" action="/map/<%= @but5 %>" method="post">
	<div class="row">
		<button class='but'><%= @but5 %></button>
	</div>
</form>
		<!-- how it was before all in one form -->
			<!-- <div class="large-6 small-12 columns">
				<button class='but'><%= @but2 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but3 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but4 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but5 %></button>
			</div>
			<div class="large-6 small-12 columns">
				<button class='but'><%= @but6 %></button>
			</div>
 -->	

</fieldset>
<!-- <div class ='row'>
	<script type="text/javascript"> 

		$(document).ready(function() { initialize(); });

	    function initialize() {
	    };

		$('button').click(function (e){
			alert(<%= @but6 %>);
			//  ($(this).text());
		});
	</script>
</div> -->


